p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
}

a {
  color: inherit;
  text-decoration: none;
}

/*
https://www.youtube.com/watch?v=8JJ101D3knE&t=255s&ab_channel=ProgrammingwithMosh
https://www.youtube.com/watch?v=Zm1VIGNmPxI&list=RDZm1VIGNmPxI&start_radio=1&ab_channel=NPRMusic
https://www.youtube.com/watch?v=cVFzblT5VPE&list=RDcVFzblT5VPE&start_radio=1&ab_channel=Cercle
https://www.youtube.com/watch?v=VHHT6W-N0ak&ab_channel=MasteryLearning
https://www.youtube.com/watch?v=QAOMtCzLKWE&ab_channel=TheOceanRace
https://www.youtube.com/watch?v=s7wmiS2mSXY&ab_channel=MuleSoftVideos
https://www.youtube.com/watch?v=BtXTVH8Cc-k&list=RDBtXTVH8Cc-k&start_radio=1&t=1306s&ab_channel=FishingonOrf%C5%B1
https://www.youtube.com/watch?v=hHOhBRGf_FM&t=21s&ab_channel=SurfingWithNoz
https://www.youtube.com/watch?v=DGU0wXMKqf4&ab_channel=StartupArchive
https://www.youtube.com/watch?v=hGEH21o0YOI&ab_channel=AnnaCramling
https://www.youtube.com/watch?v=3iH8l6dN6Ow&ab_channel=GeorgeAmmerlaan
https://www.youtube.com/watch?v=fr1VhWJv_9I&ab_channel=RedBull
*/


